<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background: url('{{ url_for('static', filename='background.jpg') }}') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo-final-el-pueblo-mex.png') }}" alt="El Pueblo Mexican Food">
    </div>
    <div class="container">
        <h1>Menu</h1>
        <form action="{{ url_for('menu', people=request.args['people'], date=request.args['date'], time=request.args['time']) }}" method="post">
            <div>
                <label for="item1">Item 1</label>
                <input type="number" id="item1_quantity" name="item1_quantity" value="0">
            </div>
            <div>
                <label for="item2">Item 2</label>
                <input type="number" id="item2_quantity" name="item2_quantity" value="0">
            </div>
            <button type="submit">Checkout</button>
        </form>
    </div>
</body>
</html>
